<div class="fixed-top bg-white py-3 border-bottom shadow">
  <header class="d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center ms-5 mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="/static/images/logo.png" alt="Logo" width="30" height="35" class="d-inline-block align-text-top rounded-1">
      <span class="ms-1 fw-semibold fst-italic text-center">Easy Storage<br>Webapp</span>
    </a>

    <ul class="nav nav-pills me-5">
      <li class="nav-item {{ state }}"><a href="/connexion" class="nav-link" aria-current="page">Se connecter</a></li>
      <li class="nav-item {{ state }}"><a href="/inscription" class="nav-link" aria-current="page">S'inscrire</a></li>
      <li class="nav-item {{ home_button_state }}"><a href="/" class="nav-link" aria-current="page">Accueil</a></li>
    </ul>
  </header>
</div>

<div class="mb-5" style="height: 82px;"></div>